<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tutorial: Hello Dojo!</title>
    <!-- load Dojo -->
    <script>
        var dojoConfig = {
            baseUrl: '//ajax.googaleapis.com/ajax/libs/dojo/1.10.0/dojo',
            paths: {
                'guestbookpath': '/static/js/guestbook'
            },
        };
    </script>

</head>
<body>
    <h1 id="greeting">DOJO</h1>
    <a href="_ah/login?continue=http%3A//localhost%3A8080/">login</a>
    <br>
    <a href="dojo/newgreeting">New greeting</a>
    <div id="authorContainer"></div>
    <!-- configure Dojo -->
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js"></script>
    <script>
	    require(["dojo/request", "dojo/dom", "dojo/_base/array",
			        "guestbookpath/widget/guestbookWidget",
				    "dojo/domReady!"],
			    function (request, dom, arrayUtil, guestbookWidget) {
				    // Load up our authors
{#				    request("static/js/guestbook/data/test.json", {#}
				    request.get("api/guestbook/default_guestbook/greeting/", {
				    	handleAs: "json"
				    }).then(function (authors) {
					    // Get a reference to our container
					    var authorContainer = dom.byId("authorContainer");
					    arrayUtil.forEach(authors, function (author) {
						    // Create our widget and place it
						    var widget = new guestbookWidget(author).placeAt(authorContainer);
					    });
				    });
			    });
    </script>
</body>
</html>